[MAIN]
load-plugins=
    pylint_quotes,
    pylint.extensions.private_import,
    pylint.extensions.no_self_use,
    pylint.extensions.for_any_all,
    pylint.extensions.comparison_placement,
    pylint.extensions.empty_comment,
    pylint.extensions.confusing_elif,
    pylint.extensions.while_used,
    pylint.extensions.docparams,
    pylint.extensions.docstyle,
    pylint.extensions.mccabe
ignore-paths=^.*(\\|/)(.venv|aerich|migrations)(\\|/).*$
jobs=4

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-function-docstring,
    missing-class-docstring,
    invalid-name

[FORMAT]
max-module-lines=1000
single-line-if-stmt=yes
ignore-long-lines=(?x)(^\s*(\#\ )?<?https?://\S+>?$|^\s*(from\s+\S+\s+)?import\s+.+$)

[TYPECHECK]
contextmanager-decorators=
    contextlib.contextmanager,
    contextlib2.contextmanager

[SIMILARITIES]
ignore-imports=no
min-similarity-lines=4

[DESIGN]
max-args=5
max-attributes=7
max-bool-expr=5
max-branches=12
max-locals=15
max-parents=7
max-public-methods=20
max-returns=6
max-statements=50
min-public-methods=2

